################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestFTP/packages
/TestFTP/TestFTP
*.suo
/TestWCFProxy/obj/Debug
/TestWCFProxy/bin/Debug
/TestWebAPI/TestWebServiceThing/bin
/TestWebAPI/TestWebServiceThing/obj/Debug
