<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="WebApiBaseAddress" value="http://localhost"/>
    <add key="WebApiUrl" value="webapitest/api/main/submit"/>
    <add key="CertificateLocation" value="c:\temp\server.cer"/>
  </appSettings>
</configuration>